/* @font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.eot');
    src: url('Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
} */

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraLightItalicBETA.eot');
    src: url('Inter-ExtraLightItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraLightItalicBETA.woff2') format('woff2'),
        url('Inter-ExtraLightItalicBETA.woff') format('woff');
    font-weight: 200;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraLightBETA.eot');
    src: url('Inter-ExtraLightBETA.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraLightBETA.woff2') format('woff2'),
        url('Inter-ExtraLightBETA.woff') format('woff');
    font-weight: 200;
    font-style: normal;
} */

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBoldItalic.eot');
    src: url('Inter-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Inter-SemiBoldItalic.woff2') format('woff2'),
        url('Inter-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraBoldItalic.eot');
    src: url('Inter-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraBoldItalic.woff2') format('woff2'),
        url('Inter-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraBold.eot');
    src: url('Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraBold.woff2') format('woff2'),
        url('Inter-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
} */

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.eot');
    src: url('Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-ThinBETA.eot');
    src: url('Inter-ThinBETA.eot?#iefix') format('embedded-opentype'),
        url('Inter-ThinBETA.woff2') format('woff2'),
        url('Inter-ThinBETA.woff') format('woff');
    font-weight: 100;
    font-style: normal;
} */

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-ThinItalicBETA.eot');
    src: url('Inter-ThinItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('Inter-ThinItalicBETA.woff2') format('woff2'),
        url('Inter-ThinItalicBETA.woff') format('woff');
    font-weight: 100;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-Black.eot');
    src: url('Inter-Black.eot?#iefix') format('embedded-opentype'),
        url('Inter-Black.woff2') format('woff2'),
        url('Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
} */

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBoldItalic.eot');
    src: url('Inter-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Inter-SemiBoldItalic.woff2') format('woff2'),
        url('Inter-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-BlackItalic.eot');
    src: url('Inter-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Inter-BlackItalic.woff2') format('woff2'),
        url('Inter-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-Italic.eot');
    src: url('Inter-Italic.eot?#iefix') format('embedded-opentype'),
        url('Inter-Italic.woff2') format('woff2'),
        url('Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-LightItalicBETA.eot');
    src: url('Inter-LightItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('Inter-LightItalicBETA.woff2') format('woff2'),
        url('Inter-LightItalicBETA.woff') format('woff');
    font-weight: 300;
    font-style: italic;
} */

/* Inter-Regular */
@font-face {
    font-family: 'Inter';
    src: url('Inter-LightBETA.eot');
    src: url('Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
        url('Inter-LightBETA.woff2') format('woff2'),
        url('Inter-LightBETA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Inter-SemiBold */
@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.eot');
    src: url('Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-LightBETA.eot');
    src: url('Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
        url('Inter-LightBETA.woff2') format('woff2'),
        url('Inter-LightBETA.woff') format('woff');
    font-weight: 300;
    font-style: normal;
} */

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-BoldItalic.eot');
    src: url('Inter-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Inter-BoldItalic.woff2') format('woff2'),
        url('Inter-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Inter';
    src: url('Inter-MediumItalic.eot');
    src: url('Inter-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Inter-MediumItalic.woff2') format('woff2'),
        url('Inter-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
} */

