@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.eot');
  src: url('/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Inter-Regular.woff2') format('woff2'),
      url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.eot');
  src: url('/fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Inter-SemiBold.woff2') format('woff2'),
      url('/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  background: #E8E9EE;
}
