$font: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$blackPrimary: #222222;
$blackHover: #4E4E4E;
$blackDisabled: #E0E0E0;

$greenPrimary: #1DB855;
$greenHover: #1E9A4B;
$greenDisabled: #D2F1DD;

$yellowPrimary: #FFEA00;
$yellowHover: #D3C207;
$yellowDisabled: #FFFBCC;

$silverPrimary: #E8E9EE;
$silverHover: #C0C1C5;
$silverDisabled: #FAFBFC;

$grayPrimary: #8E8E93;
$grayHover: #78787C;
$grayDisabled: #E8E8E9;

$lightGrayPrimary: #E5E5EA;
$lightGrayHover: #BEBEC2;
$lightGrayDisabled: #FAFAFB;

$redPrimary: #EF5350;
$redHover: #C64947;
$redDisabled: #FCDDDC;

$whitePrimary: #FFFFFF;
$whiteHover: #D3D3D3;

.oval-root {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 4px 0 16px;
    font-family: $font;
    color: $blackPrimary;
    background: #E8E9EE;
    min-height: 100vh;

    b,
    strong {
        font-weight: 600;
    }
}

.oval-container {
    position: relative;
    max-width: 360px;
    padding: 0 24px;
    margin: 0 auto;
}

.oval-heading-1-large {
    font-family: $font;
    font-size: 56px;
    line-height: 64px;
    font-weight: bold;
    color: $blackPrimary;
    margin: 9px 0;
}

.oval-heading-1 {
    font-family: $font;
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: $blackPrimary;
    margin: 16px 0;
}

.oval-heading-2 {
    font-family: $font;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: $blackPrimary;
    margin: 12px 0 16px;
}

.oval-p {
    font-family: $font;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 40px;
    color: $blackPrimary;
}

.oval-bold {
    font-family: $font;
    font-weight: 600;
}

.oval-caption {
    font-family: $font;
    font-size: 12px;
    line-height: 20px;
    color: $blackPrimary;
}

.oval-primary {
    color: $greenPrimary
}

.oval-gray {
    color: $grayPrimary;
}

.oval-button {
    position: relative;
    display: block;
    font-family: $font;
    border: 2px solid transparent;
    border-radius: 4px;
    outline: none;
    margin: 16px 0;
    transition: .2s ease-in-out;
    cursor: pointer;

    &.oval-button--disabled {
        pointer-events: none;
        cursor: default;
    }

    &.oval-button--color_black {
        color: $whitePrimary;
        background: $blackPrimary;

        svg {
            fill: $whitePrimary;
        }

        &.oval-button--bordered {
            color: $blackPrimary;
            background: $whitePrimary;
            border-color: $blackPrimary;

            svg {
                fill: $blackPrimary;
            }
        }

        &:hover,
        &:active {
            color: $whitePrimary;
            background: $blackHover;
            border-color: transparent;

            svg {
                fill: $whitePrimary;
            }
        }

        &:focus,
        &.oval-button--selected {
            color: $whitePrimary;
            background: $blackPrimary;
            border-color: $blackHover;

            svg {
                fill: $whitePrimary;
            }
        }

        &.oval-button--disabled {
            color: $whitePrimary;
            background: $blackDisabled;
            border-color: transparent;

            svg {
                fill: $whitePrimary;
            }
        }
    }
    
    &.oval-button--color_green {
        color: $whitePrimary;
        background: $greenPrimary;

        svg {
            fill: $whitePrimary;
        }

        &.oval-button--bordered {
            color: $greenPrimary;
            background: $whitePrimary;
            border-color: $greenPrimary;

            svg {
                fill: $greenPrimary;
            }
        }

        &:hover,
        &:active {
            color: $whitePrimary;
            background: $greenHover;
            border-color: transparent;

            svg {
                fill: $whitePrimary;
            }
        }

        &:focus,
        &.oval-button--selected {
            color: $whitePrimary;
            background: $greenPrimary;
            border-color: $greenHover;

            svg {
                fill: $whitePrimary;
            }
        }

        &.oval-button--disabled {
            color: $whitePrimary;
            background: $greenDisabled;
            border-color: transparent;

            svg {
                fill: $whitePrimary;
            }
        }
    }
    
    &.oval-button--color_yellow {
        color: $blackPrimary;
        background: $yellowPrimary;

        svg {
            fill: $blackPrimary;
        }

        &.oval-button--bordered {
            color: $blackPrimary;
            background: $whitePrimary;
            border-color: $yellowPrimary;

            svg {
                fill: $yellowPrimary;
            }
        }

        &:hover,
        &:active {
            color: $blackPrimary;
            background: $yellowHover;
            border-color: transparent;

            svg {
                fill: $blackPrimary;
            }
        }

        &:focus,
        &.oval-button--selected {
            color: $blackPrimary;
            background: $yellowPrimary;
            border-color: $yellowHover;

            svg {
                fill: $blackPrimary;
            }
        }

        &.oval-button--disabled {
            color: $blackPrimary;
            background: $yellowDisabled;
            border-color: transparent;

            svg {
                fill: $blackPrimary;
            }
        }
    }
    
    &.oval-button--color_silver {
        color: $blackPrimary;
        background: $silverPrimary;

        svg {
            fill: $blackPrimary;
        }

        &.oval-button--bordered {
            color: $blackPrimary;
            background: $whitePrimary;
            border-color: $silverPrimary;

            svg {
                fill: $silverPrimary;
            }
        }

        &:hover,
        &:active {
            color: $blackPrimary;
            background: $silverHover;
            border-color: transparent;

            svg {
                fill: $blackPrimary;
            }
        }

        &:focus,
        &.oval-button--selected {
            color: $blackPrimary;
            background: $silverPrimary;
            border-color: $silverHover;

            svg {
                fill: $blackPrimary;
            }
        }

        &.oval-button--disabled {
            color: $blackPrimary;
            background: $silverDisabled;
            border-color: transparent;

            svg {
                fill: $blackPrimary;
            }
        }
    }

    &.oval-button--color_gray {
        color: $whitePrimary;
        background: $grayPrimary;

        svg {
            fill: $whitePrimary;
        }

        &.oval-button--bordered {
            color: $grayPrimary;
            background: $whitePrimary;
            border-color: $grayPrimary;

            svg {
                fill: $grayPrimary;
            }
        }

        &:hover,
        &:active {
            color: $whitePrimary;
            background: $grayHover;
            border-color: transparent;

            svg {
                fill: $whitePrimary;
            }
        }

        &:focus,
        &.oval-button--selected {
            color: $whitePrimary;
            background: $grayPrimary;
            border-color: $grayHover;

            svg {
                fill: $whitePrimary;
            }
        }

        &.oval-button--disabled {
            color: $whitePrimary;
            background: $grayDisabled;
            border-color: transparent;

            svg {
                fill: $whitePrimary;
            }
        }
    }

    &.oval-button--color_light-gray {
        color: $blackPrimary;
        background: $lightGrayPrimary;

        svg {
            fill: $blackPrimary;
        }

        &.oval-button--bordered {
            color: $blackPrimary;
            background: $whitePrimary;
            border-color: $lightGrayPrimary;

            svg {
                fill: $lightGrayPrimary;
            }
        }

        &:hover,
        &:active {
            color: $blackPrimary;
            background: $lightGrayHover;
            border-color: transparent;

            svg {
                fill: $blackPrimary;
            }
        }

        &:focus,
        &.oval-button--selected {
            color: $blackPrimary;
            background: $lightGrayPrimary;
            border-color: $lightGrayHover;

            svg {
                fill: $blackPrimary;
            }
        }

        &.oval-button--disabled {
            color: $blackPrimary;
            background: $lightGrayDisabled;
            border-color: transparent;

            svg {
                fill: $blackPrimary;
            }
        }
    }

    &.oval-button--color_red {
        color: $whitePrimary;
        background: $redPrimary;

        svg {
            fill: $whitePrimary;
        }

        &.oval-button--bordered {
            color: $redPrimary;
            background: $whitePrimary;
            border-color: $redPrimary;

            svg {
                fill: $redPrimary;
            }
        }

        &:hover,
        &:active {
            color: $whitePrimary;
            background: $redHover;
            border-color: transparent;

            svg {
                fill: $whitePrimary;
            }
        }

        &:focus,
        &.oval-button--selected {
            color: $whitePrimary;
            background: $redPrimary;
            border-color: $redHover;

            svg {
                fill: $whitePrimary;
            }
        }

        &.oval-button--disabled {
            color: $whitePrimary;
            background: $redDisabled;
            border-color: transparent;

            svg {
                fill: $whitePrimary;
            }
        }
    }

    &.oval-button--size_small {
        font-size: 14px;
        line-height: 16px;
        padding: 6px 14px;

        &.oval-button--icon_left {
            padding-left: 30px;
            padding-right: 6px;
        }
    
        &.oval-button--icon_right {
            padding-left: 6px;
            padding-right: 30px;
        }
        
        &.oval-button--icon_both {
            padding-left: 30px;
            padding-right: 42px;
        }

        img,
        svg,
        i {
            &:first-child {
                left: 4px;
            }

            &:last-child {
                right: 4px;
            }
        }
    }

    &.oval-button--size_large {
        font-size: 16px;
        line-height: 24px;
        padding: 6px 14px;

        &.oval-button--icon_left {
            padding-left: 34px;
            padding-right: 10px;
        }
    
        &.oval-button--icon_right {
            padding-left: 10px;
            padding-right: 34px;
        }
        
        &.oval-button--icon_both {
            padding-left: 34px;
            padding-right: 46px;
        }

        img,
        svg,
        i {
            &:first-child {
                left: 8px;
            }

            &:last-child {
                right: 8px;
            }
        }
    }

    &.oval-button--size_xl {
        font-size: 16px;
        line-height: 24px;
        padding: 10px 14px;

        &.oval-button--icon_left {
            padding-left: 42px;
            padding-right: 14px;
        }
    
        &.oval-button--icon_right {
            padding-left: 14px;
            padding-right: 42px;
        }
        
        &.oval-button--icon_both {
            padding-left: 34px; // 44px
            padding-right: 48px; // 51px

            img,
            svg,
            i {
                &:first-child {
                    left: 8px;
                }

                &:last-child {
                    right: 10px;
                }
            }
        }

        img,
        svg,
        i {
            &:first-child {
                left: 12px;
            }

            &:last-child {
                right: 12px;
            }
        }
    }

    &.oval-button--size_xxl {
        font-size: 16px;
        line-height: 24px;
        padding: 14px;

        &.oval-button--icon_left {
            padding-left: 42px;
            padding-right: 14px;
        }
    
        &.oval-button--icon_right {
            padding-left: 14px;
            padding-right: 42px;
        }
        
        &.oval-button--icon_both {
            padding-left: 34px; // 44px
            padding-right: 48px; // 51px

            img,
            svg,
            i {
                &:first-child {
                    left: 8px;
                }

                &:last-child {
                    right: 10px;
                }
            }
        }

        img,
        svg,
        i {
            &:first-child {
                left: 12px;
            }

            &:last-child {
                right: 12px;
            }
        }
    }

    &.oval-button--has-error,
    &.oval-button--has-error.oval-button--selected,
    &.oval-button--has-error.oval-button--bordered {
        border-color: $redPrimary;
    }

    svg {
        transition: fill .2s ease-in-out;
    }

    img,
    svg,
    i {
        display: block;
        max-width: 20px;
        max-height: 22px;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.oval-social-group {
    margin-bottom: 60px;
}

.oval-social-group-title {
    font-size: 14px;
}

.oval-social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 4px -4px;
}

.oval-social {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 4px;
    background: $lightGrayPrimary;

    svg {
        fill: $whitePrimary;
    }

    &.oval-social--gray svg {
        fill: $blackPrimary;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba($blackPrimary, .1);
        border-radius: 50%;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }

    &:hover:before {
        opacity: 1;
    }
}

.oval-checkbox {
    font-family: $font;
    display: flex;
    align-items: flex-start;
    margin: 32px 0;
    cursor: pointer;

    &.oval-checkbox--disabled {
        .oval-checkbox__label {
            color: $blackDisabled;
        }

        .oval-checkbox__native:checked + .oval-checkbox__box,
        .oval-checkbox__box {
            background: $blackDisabled;
            border-color: $blackDisabled;

            &:before {
                opacity: 0;
            }
        }

        .oval-checkbox__native:checked + .oval-checkbox__box:before {
            opacity: 1;
        }
    }
}

.oval-checkbox__native {
    display: none;

    &:checked + .oval-checkbox__box {
        background: $greenPrimary;
    }
}

.oval-checkbox__box {
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border: 2px solid $greenHover;
    border-radius: 4px;
    background: $whitePrimary;
    transition: .2s ease-in-out;

    &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 22px;
        height: 22px;
        // background: url('../../static/img/icons/navigation/check_24px_white.svg');
        background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtOC43OTU1NSAxNS44NzUtMy40Ny0zLjQ3Yy0uMTg2ODMtLjE4NzItLjQ0MDQ5LS4yOTI1LS43MDUtLjI5MjUtLjI2NDUyIDAtLjUxODE3LjEwNTMtLjcwNS4yOTI1LS4zOS4zOS0uMzkgMS4wMiAwIDEuNDFsNC4xOCA0LjE4Yy4zOS4zOSAxLjAyLjM5IDEuNDEgMGwxMC41Nzk5NS0xMC41Nzk5OWMuMzktLjM5LjM5LTEuMDIgMC0xLjQxLS4xODY4LS4xODcyNS0uNDQwNC0uMjkyNDktLjcwNS0uMjkyNDktLjI2NDUgMC0uNTE4MS4xMDUyNC0uNzA1LjI5MjQ5eiIvPjwvc3ZnPg==);
        transition: opacity .2s ease-in-out;
    }
}

.oval-checkbox__label {
    margin: 4px 0;
    flex: 1;
    transition: color .2s ease-in-out;
}

.oval-toggle {
    font-family: $font;
    display: flex;
    align-items: flex-start;
    margin: 16px 0;
    cursor: pointer;

    &.oval-toggle--disabled {
        .oval-toggle__label {
            color: $blackDisabled;
        }

        .oval-toggle__native:checked + .oval-toggle__box,
        .oval-toggle__box {
            background: $blackDisabled;
            border-color: $blackDisabled;

            &:before {
                background: $grayDisabled;
            }
        }
    }
}

.oval-toggle__native {
    display: none;

    &:checked + .oval-toggle__box {
        background: $greenPrimary;

        &:before {
            background: $whitePrimary;
            transform: translateX(24px);
        }
    }
}

.oval-toggle__box {
    position: relative;
    display: block;
    width: 52px;
    height: 28px;
    margin-right: 8px;
    border: 2px solid $greenHover;
    border-radius: 32px;
    background: $whitePrimary;
    transition: .2s ease-in-out;

    &:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: $greenPrimary;
        transition: .2s ease-in-out;
    }
}

.oval-toggle__label {
    margin: 4px 0;
    flex: 1;
    transition: color .2s ease-in-out;
}

.oval-radio {
    font-family: $font;
    display: flex;
    align-items: flex-start;
    margin: 8px 0;
    cursor: pointer;

    &.oval-radio--disabled {
        .oval-radio__label {
            color: $blackDisabled;
        }

        .oval-radio__native:checked + .oval-radio__box,
        .oval-radio__box {
            background: $blackDisabled;
            border-color: $blackDisabled;

            &:before,
            &:after {
                opacity: 0;
            }
        }
    }
}

.oval-radio__native {
    display: none;

    &:checked + .oval-radio__box:before,
    &:checked + .oval-radio__box:after {
        opacity: 1;
    }
}

.oval-radio__box {
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border: 2px solid $greenHover;
    border-radius: 50%;
    background: $whitePrimary;
    transition: .2s ease-in-out;

    &:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: $greenPrimary;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 1px solid $greenPrimary;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }
}

.oval-radio__label {
    margin: 4px 0;
    flex: 1;
    transition: color .2s ease-in-out;
}

.oval-radio__group {
    margin: 24px 0;
}

.oval-input-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -4px;

    .oval-input {
        margin: 4px;
    }
}

.oval-input {
    position: relative;
    display: block;
    max-width: 360px;
    cursor: text;
    margin: 24px 0;

    &.oval-input--has-value {
        .oval-input__placeholder {
            transform: scale(0.75) translate(7px, -8px);
        }
    }

    &.oval-input--filled:after {
        opacity: 1;
    }

    &.oval-input--error {
        .oval-input__placeholder {
            color: $redPrimary;
        }

        .oval-input__native {
            border-color: $redPrimary;
            color: $redPrimary;
        }

        &:after {
            opacity: 0;
        }
    }

    &.oval-input--disabled {
        .oval-input__placeholder {
            color: $blackDisabled;
        }

        .oval-input__native {
            border-color: $grayDisabled;
            color: $blackDisabled;
            background: $lightGrayDisabled;
        }

        &:after {
            opacity: 0;
        }
    }

    &.oval-input--file {
        cursor: pointer;

        .oval-input__native {
            border-color: $greenPrimary;
        }

        .oval-input__placeholder {
            color: $greenPrimary;
        }

        &:before {
            content: '';
            position: absolute;
            top: 17px;
            right: 15px;
            width: 20px;
            height: 20px;
            // background: url('../../static/img/icons/image/camera_alt_24px.svg');
            background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Im0yMCA1aC0zLjE3bC0xLjI0LTEuMzVjLS4zNy0uNDEtLjkxLS42NS0xLjQ3LS42NWgtNC4yNGMtLjU2IDAtMS4xLjI0LTEuNDguNjVsLTEuMjMgMS4zNWgtMy4xN2MtMS4xIDAtMiAuOS0yIDJ2MTJjMCAxLjEuOSAyIDIgMmgxNmMxLjEgMCAyLS45IDItMnYtMTJjMC0xLjEtLjktMi0yLTJ6bS04IDVjLTEuNjU2OSAwLTMgMS4zNDMxLTMgM3MxLjM0MzEgMyAzIDMgMy0xLjM0MzEgMy0zLTEuMzQzMS0zLTMtM3ptLTUgM2MwIDIuNzYgMi4yNCA1IDUgNXM1LTIuMjQgNS01LTIuMjQtNS01LTUtNSAyLjI0LTUgNXoiIGZpbGw9IiMxZGI4NTUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
            background-size: contain;
            background-position: 50% 50%;
            transition: opacity .2s ease-in-out;
            z-index: 2;
        }

        &.oval-input--filled:before {
            opacity: 0;
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 17px;
        right: 15px;
        width: 20px;
        height: 20px;
        // background: url('../../static/img/icons/navigation/check_24px.svg');
        background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMWRiODU1IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtOC43OTU1NSAxNS44NzUtMy40Ny0zLjQ3Yy0uMTg2ODMtLjE4NzItLjQ0MDQ5LS4yOTI1LS43MDUtLjI5MjUtLjI2NDUyIDAtLjUxODE3LjEwNTMtLjcwNS4yOTI1LS4zOS4zOS0uMzkgMS4wMiAwIDEuNDFsNC4xOCA0LjE4Yy4zOS4zOSAxLjAyLjM5IDEuNDEgMGwxMC41Nzk5NS0xMC41Nzk5OWMuMzktLjM5LjM5LTEuMDIgMC0xLjQxLS4xODY4LS4xODcyNS0uNDQwNC0uMjkyNDktLjcwNS0uMjkyNDktLjI2NDUgMC0uNTE4MS4xMDUyNC0uNzA1LjI5MjQ5eiIvPjwvc3ZnPg==);
        background-size: contain;
        background-position: 50% 50%;
        opacity: 0;
        transition: opacity .2s ease-in-out;
        z-index: 2;
    }
}

.oval-input__placeholder {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-family: $font;
    font-size: 16px;
    line-height: 24px;
    color: $grayPrimary;
    display: block;
    line-height: 1;
    padding: 19px 16px 21px;
    transition: .2s ease-in-out;
    transform-origin: 0% 0%;
    z-index: 1;
    user-select: none;
}

.oval-input__native {
    box-sizing: border-box;
    display: block;
    min-height: 56px;
    font-family: $font;
    font-size: 16px;
    line-height: 24px;
    color: $blackPrimary;
    width: 100%;
    padding: 23px 16px 7px;
    outline: none;
    border: 1px solid $blackPrimary;
    border-radius: 4px;
    background: $whitePrimary;
    transition: .2s ease-in-out;

    &:focus {
        border-color: $greenPrimary;

        & + .oval-input__placeholder {
            transform: scale(0.75) translate(7px, -8px);
        }
    }

    &:-webkit-autofill {
        color: $blackPrimary;
        border: 1px solid $blackPrimary;
        border-radius: 4px;
        background: $whitePrimary;
        border: 1px solid green;
        -webkit-text-fill-color: $blackPrimary;
        -webkit-box-shadow: 0;

        &:focus {
            border-color: $greenPrimary;
        }
    }
}

.oval-card {
    position: relative;
    display: block;
    font-family: $font;
    width: 100%;
    max-width: 327px;
    background: $whitePrimary;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 31px;
    padding-bottom: 15px;
    text-align: left;
    outline: none;
    box-sizing: border-box;
    transition: .2s ease-in-out;
    margin: 16px 0;
    cursor: pointer;

    &.oval-card--bordered {
        border-color: $greenPrimary;
    }

    &.oval-card--toggle {
        cursor: default;

        &:after {
            content: '';
            position: absolute;
            top: 12px;
            right: 12px;
            width: 20px;
            height: 20px;
            // background: url('../../static/img/icons/navigation/expand_more_24px.svg');
            background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTUuODc0NiA5LjAwMDAxLTMuODggMy44Nzk5OS0zLjg3OTk5LTMuODc5OTljLS4xODY4My0uMTg3MjYtLjQ0MDQ4LS4yOTI0OS0uNzA1LS4yOTI0OXMtLjUxODE3LjEwNTIzLS43MDUuMjkyNDljLS4zOS4zOS0uMzkgMS4wMTk5OSAwIDEuNDA5OTlsNC41ODk5OSA0LjU5Yy4zOS4zOSAxLjAyLjM5IDEuNDEgMGw0LjU5LTQuNTljLjM5LS4zOS4zOS0xLjAxOTk5IDAtMS40MDk5OS0uMzktLjM4LTEuMDMtLjM5LTEuNDIgMHoiIGZpbGw9IiMyMjIyMjIiLz48L3N2Zz4=);
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            opacity: 0.3;
            transition: opacity .2s ease-in-out;
        }

        &.oval-card--is-open:after {
            opacity: 1;
            transform: rotate(180deg);
        }
    }

    .oval-p {
        margin-bottom: 16px;
    }
}

.oval-card__title {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: $blackPrimary;
    margin-bottom: 4px;
}

.oval-card__header {
    display: block;
    margin: -32px;
    margin-bottom: 0;
    padding: 32px;
    padding-bottom: 0;
    width: calc(100% + 64px);
    background: none;
    border: 0;
    text-align: left;
    outline: none;
    cursor: pointer;
}

.oval-progress {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    background: $greenPrimary;
    transition: .2s linear;
    z-index: 1000;
}

.oval-link {
    display: inline-block;
    border: 0;
    background: none;
    outline: none;
    margin: 12px 0;
    padding: 0;
    font-family: $font;
    cursor: pointer;
    color: $greenPrimary;
    font-size: 14px;
    line-height: 24px;

    &.oval-link--disabled {
        color: $grayPrimary;
        cursor: default;
    }
}

.oval-logo {
    display: block;
    text-align: center;

    svg {
        display: block;
        margin: 10px auto 40px;
    }
}

.oval-error-photo {
    display: block;
    max-width: 100%;
    margin: 0 auto -16px;
}

.oval-info {
    font-family: $font;
    display: block;
    background: $whitePrimary;
    padding: 20px 24px;
    color: $blackPrimary;
    margin-bottom: 40px;

    &.oval-info--black {
        background: $blackPrimary;
        color: $whitePrimary;

        .oval-heading-1,
        .oval-heading-2,
        .oval-p {
            color: $whitePrimary;

            &--gray,
            &.oval-gray {
                color: $whiteHover;
            }
        }
    }

    .oval-heading-1,
    .oval-heading-2,
    .oval-p {

        &:last-child {
            margin-bottom: 12px;
        }
    }
}

.oval-peoples {
    margin: 56px 0 64px;
}

.oval-peoples__item {
    margin: 40px 0;
}

.oval-peoples__item-title {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: $blackPrimary;
    font-weight: 600;
}

.oval-peoples__item-subtitle {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: $grayPrimary;
    margin-bottom: 12px;
}

.oval-peoples__item-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -4px;

    .oval-button,
    .oval-input {
        margin: 4px;
    }

    .oval-input {
        flex: 1;
    }
}

.oval-user-info {
    margin: 16px 0;

    .oval-heading-2,
    .oval-p {
        margin: 0;
    }
}

.oval-preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: $font;
    color: $blackPrimary;
    background: #E8E9EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 900;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    pointer-events: none;

    &.oval-preloader--visiable {
        opacity: 1;
        pointer-events: all;
    }
}

.oval-preloader__img {
    width: 100px;
}

.oval-preloader__label {
    font-size: 16px;
    line-height: 24px;
    color: $greenPrimary;
    margin-top: 25px;
}

.oval-m-0 {
    margin: 0;
}

.oval-mt-0 {
    margin-top: 0px;
}

.oval-mb-0 {
    margin-bottom: 0px;
}

.oval-m-8 {
    margin: 8px 0;
}

.oval-mt-8 {
    margin-top: 8px;
}

.oval-mb-8 {
    margin-bottom: 8px;
}

.oval-m-16 {
    margin: 16px 0;
}

.oval-mt-16 {
    margin-top: 16px;
}

.oval-mb-16 {
    margin-bottom: 16px;
}

.oval-m-24 {
    margin: 24px 0;
}

.oval-mt-24 {
    margin-top: 24px;
}

.oval-mb-24 {
    margin-bottom: 24px;
}

.oval-m-32 {
    margin: 32px 0;
}

.oval-mt-32 {
    margin-top: 32px;
}

.oval-mb-32 {
    margin-bottom: 32px;
}

.oval-m-40 {
    margin: 40px 0;
}

.oval-mt-40 {
    margin-top: 40px;
}

.oval-mb-40 {
    margin-bottom: 40px;
}

.oval-m-56 {
    margin: 56px 0;
}

.oval-mt-56 {
    margin-top: 56px;
}

.oval-mb-56 {
    margin-bottom: 56px;
}

.oval-m-64 {
    margin: 64px 0;
}

.oval-mt-64 {
    margin-top: 64px;
}

.oval-mb-64 {
    margin-bottom: 64px;
}

@media screen and (max-width: 408px) {
    .oval-info {
        margin-right: -24px;
        margin-left: -24px;
    }
}
